<h2>About the Moments</h2>

<div class="about">
  <p>Share your moments, and receive comments from those you like the most</p>

  <a routerLink="/moment/new">I want to share my moment.</a>

  <div class="project-timeline">
    <h3>Web project timeline (Angular front-end of Moments project only)</h3>

    <p>
      1. create folder structure, web components (pages, header, footers) and
      initial definition of css.
      <a
        href="https://www.youtube.com/watch?v=87FQ-hcmAa0&list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw"
        target="_blank"
        >#24</a
      >
    </p>
    <p>
      2. Completion of page structuring, navigation, and standard layout of the
      application.
      <a
        href="https://youtu.be/4MhSLhFdtAc?list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw"
        target="_blank"
        >#25</a
      >
    </p>
    <p>
      3. create the functionality of creating records, creating main form,
      validations, etc
      <a
        href="https://youtu.be/Uc_6N58MigY?list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw"
        target="_blank"
        >#26</a
      >
    </p>
    <p>
      4. creation of models and service (only the skeleton)
      <a
        href="https://youtu.be/rENW_IHonLg?list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw"
        target="_blank"
        >#27</a
      >
    </p>
    <p>
      5. Validation of Form
      <a
        href="https://youtu.be/9nXFw7yTY80?list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw"
        target="_blank"
        >#28</a
      >
    </p>
    <p>
      6. form validation, data submission, test with rest api
      <a
        href="https://youtu.be/2KrNZ2zBYes?list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw"
        target="_blank"
        >#29</a
      >
    </p>
    <p>
      7. Implementing System Message Component
      <a
        href="https://youtu.be/eM2n8b6w5ZA?list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw"
        target="_blank"
        >#30</a
      >
    </p>
    <p>
      8. finalization of the system message component, implementation of the
      message component in the new moments form, finalization of the page about
      <a
        href="https://youtu.be/S-etmbgBg9w?list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw"
        target="_blank"
        >#31</a
      >
    </p>
    <p>
      9. list moments on home page
      <a
        href="https://youtu.be/6anyam3TM54?list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw"
        target="_blank"
        >#32</a
      >
    </p>
    <p>
      10. finalization of the list of moments on the home page
      <a
        href="https://youtu.be/eYV0wu8lA0M?list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw"
        target="_blank"
        >#33</a
      >
    </p>
    <p>
      11. implementation of search filter
      <a
        href="https://youtu.be/fBjj8ZIuhwM?list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw"
        target="_blank"
        >#34</a
      >
    </p>
    <p>
      12. Implementing the Detail of a Moment Record
      <a
        href="https://youtu.be/9-Et3Y3T3ZM?list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw"
        target="_blank"
        >#35</a
      >
    </p>
    <p>
      13. finalizing moment detailing with editing and deleting actions styling
      <a
        href="https://youtu.be/wBgg_JJdUYc?list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw"
        target="_blank"
        >#36</a
      >
    </p>
    <p>
      14. implementation of exclusion
      <a
        href="https://youtu.be/t48D_SuGYxE?list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw"
        target="_blank"
        >#37</a
      >
    </p>
    <p>
      15. Implementation of issue
      <a
        href="https://youtu.be/aSMhT2sXgvA?list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw"
        target="_blank"
        >#38</a
      >
    </p>
    <p>
      16. finishing issue
      <a
        href="https://youtu.be/FLbCf8YjiaU?list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw"
        target="_blank"
        >#39</a
      >
    </p>
    <p>
      17. start comment part
      <a
        href="https://youtu.be/lRQMQCCnM6Y?list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw"
        target="_blank"
        >#40</a
      >
    </p>
    <p>
      18. finalization of the comments part
      <a
        href="https://youtu.be/diL31WLNlhw?list=PLnDvRpP8Bnex2GQEN0768_AxZg_RaIGmw"
        target="_blank"
        >#41</a
      >
    </p>
  </div>
</div>
