.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

h2,
p {
    margin-bottom: 1em;
}

.about a {
    text-decoration: underline;
}

.project-timeline {
    background-color: #efefef;
    margin-top: 3em;
    overflow-y: scroll;
    max-height: 300px;
}

.project-timeline h3 {
    padding-bottom: 2em;
    padding-top: 2em;
    text-align: center;
}

.project-timeline p {
    padding-left: 1em;
    padding-right: 1em;
}
