<div class="auth-container">
  <form
    (ngSubmit)="save()"
    class="sign-up-form"
    [formGroup]="signUpForm"
    #formDir="ngForm"
  >
    <h2>Sign up</h2>

    <input type="text" formControlName="full_name" placeholder="Full Name" required />
    <div *ngIf="full_name.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="full_name.errors?.['required']">Full name is required.</p>
    </div>
    
    <input type="text" formControlName="login" placeholder="Login" required />
    <div *ngIf="login.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="login.errors?.['required']">Login is required.</p>
    </div>

    <input type="text" formControlName="password" placeholder="Password" required />
    <div *ngIf="password.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="password.errors?.['required']">Password is required.</p>
    </div>

    <input type="text" formControlName="confirm_password" placeholder="Confirm password" required />
    <div
      *ngIf="confirm_password.invalid && formDir.submitted"
      class="validation-error"
    >
      <p *ngIf="confirm_password.errors?.['required']">
        Confirm password is required.
      </p>
    </div>

    <button class="outline" (click)="goBack()">Back</button>
    <button type="submit">Save</button>
  </form>
</div>
